<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::content})}" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="content" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h5>Администрирование</h5>
    <div id="adminPanelTabs">
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            <li class="uk-active" sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">
                <a href="#" uk-tooltip="Менеджер пользователей">
                    <span class="uk-margin-small-right" uk-icon="icon: users"></span>Менеджер пользователей</a>
            </li>
            <li sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">
                <a href="#" uk-tooltip="Загрузка файлов">
                    <span class="uk-margin-small-right" uk-icon="icon: file-text"></span>Загрузка файлов</a>
            </li>
        </ul>
        <div class="uk-switcher uk-margin">
            <div sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">
                <div id="gridUsersFilter" class="uk-card uk-card-body">
                    <div class="uk-label" data-toggle="filter" data-target="#gridUsersFilterBody">
                        Фильтр<span class="filter-arrow">▲</span>
                    </div>
                    <div id="gridUsersFilterBody" class="uk-form-stacked uk-hidden">

                        <div>
                            <div class="uk-label uk-margin-left" data-toggle="filter"
                                 data-target="#userFilterData">
                                Пользователь
                                <span class="filter-arrow">▼</span>
                            </div>
                            <div id="userFilterData" style="padding: 8px !important;">
                                <div class="card">
                                    <div class="uk-grid uk-grid-small">
                                        <div>
                                            <label class="uk-form-label" id="lblUserLogin" for="userLogin">
                                                Логин
                                            </label>
                                            <input type="text" data-filter
                                                   class="uk-form-controls uk-width-small"
                                                   id="userLogin"/>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lblUserEmail" for="userEmail">
                                                Email
                                            </label>
                                            <input type="text" data-filter
                                                   class="uk-form-controls uk-width-small"
                                                   id="userEmail"/>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lbluserFullName"
                                                   for="userFullName">
                                                Полное имя
                                            </label>
                                            <input type="text" data-filter
                                                   class="uk-form-controls uk-width-large"
                                                   id="userFullName"/>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lblUserPhone"
                                                   for="userPhone">
                                                Роль
                                            </label>
                                            <input type="text" data-filter
                                                   class="uk-form-controls uk-width-small"
                                                   id="userPhone"/>
                                        </div>

                                        <div>
                                            <label class="uk-form-label" id="lblUserRole"
                                                   for="userRole">
                                                Роль
                                            </label>
                                            <select id="userRole" data-filter name="userRole"
                                                    class="uk-form-controls uk-width-small" size="1">
                                                <option value=""></option>
                                                <option value="0">SUPERADMIN</option>
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lblDateUserRegFrom"
                                                   for="dateUserRegFrom">
                                                Дата регистрации с
                                            </label>
                                            <input type="date" data-filter
                                                   class="user-filter-date uk-form-controls uk-width-small"
                                                   id="dateUserRegFrom"/>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lblDateUserRegTo"
                                                   for="dateUserRegTo">
                                                Дата регистрации по
                                            </label>
                                            <input type="date" data-filter
                                                   class="user-filter-date uk-form-controls uk-width-small"
                                                   id="dateUserRegTo"/>
                                        </div>
                                        <div>
                                            <label class="uk-form-label" id="lblUserActiveStatus"
                                                   for="userLockStatus">
                                                Статус активации
                                            </label>
                                            <select id="userActiveStatus" data-filter name="userActiveStatus"
                                                    class="uk-form-controls uk-width-small" size="1">
                                                <option value=""></option>
                                                <option value="1">Активирован</option>
                                                <option value="2">Не активирован</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small">
                                        <div>
                                            <label class="uk-form-label" id="lblUserLockStatus"
                                                   for="userLockStatus">
                                                Статус блокировки
                                            </label>
                                            <select id="userLockStatus" data-filter name="userLockStatus"
                                                    class="uk-form-controls uk-width-small" size="1">
                                                <option value=""></option>
                                                <option value="1">Заблокированные</option>
                                                <option value="2">Незаблокированные</option>
                                            </select>
                                        </div>
                                        <div class="date-user-block" style="display:none">
                                            <label class="uk-form-label" id="lblDateUserBlockedFrom"
                                                   for="dateUserBlockedFrom">
                                                Дата блокировки с
                                            </label>
                                            <input type="date" data-filter
                                                   class="user-filter-date uk-form-controls uk-width-small"
                                                   id="dateUserBlockedFrom"/>
                                        </div>
                                        <div class="date-user-block" style="display:none">
                                            <label class="uk-form-label" id="lblDateUserBlockedTo"
                                                   for="dateUserBlockedTo">
                                                Дата блокировки по
                                            </label>
                                            <input type="date" data-filter
                                                   class="user-filter-date uk-form-controls uk-width-small"
                                                   id="dateUserBlockedTo"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-align-center">
                            <div class="uk-flex uk-flex-middle uk-flex-center">
                                <button type="button" id="btnUsersFilterSearch"
                                        class="uk-button-small uk-button-primary uk-margin-right">
                                    Найти
                                </button>
                                <button type="button" id="btnUsersFilterClear"
                                        class="uk-button-small uk-button-primary">
                                    Сбросить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gridUsers"></div>
            </div>
            <div sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>
</html>
