<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::content})}" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="content">
    <h5>Выделы</h5>
    <div sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">
        <h3 class="uk-heading-divider">
            <span uk-icon="icon: upload; ratio: 1.5"></span>
            Массовая загрузка выделов
        </h3>
        <div th:replace="~{upload}"></div>
    </div>
    <div id="gridAppointedForestry"></div>

    <script  sec:authorize="hasAnyRole('SUPERADMIN','ADMIN')">

        UIkit.upload('.js-upload', {
            url: '/api/uploadForestStand',
            multiple: false,
            name: 'file',
            params: {
                extractZip: true // Явно передаем параметр
            },
            credentials: 'include',
            beforeSend: function() {
                console.log('beforeSend', arguments);
//                env.xhr.withCredentials = true;
//                env.xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
 //               env.xhr.setRequestHeader('Accept', 'application/json');
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
            },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            completeAll: function () {
                console.log('completeAll', arguments);

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

                alert('Upload Completed');
            }

        });

    </script>

    <script>

        const cfgGridAppointedForestry = {
            autoLoad: true,
            readOnly: true,
            data: {
                dataKey: 'gridForestry',
                url: '/api/common/appointedForesty'
            },
            schema: {
                fields: {
                    id: {
                        type: 'int',
                        editor: {edit: {visible: false}, create: {visible: false}},
                        ui: {label: 'id', grid: {visible: false}}
                    },
                    parent: {
                        type: 'int',
                        editor: {edit: {visible: false}, create: {visible: false}},
                        ui: {label: 'parent', grid: {visible: false}}
                    },
                    name: {
                        type: 'text', ui: {label: 'Наименование', grid: {visible: true, width: '14%'}},
                        editor: {edit: {readOnly: true}, create: {readOnly: false, required: true}}
                    },
                    accountNumber: {
                        type: 'text', ui: {label: 'Учетный код', grid: {visible: true, width: '16%'}},
                        editor: {
                            type: 'text',
                            edit: {readOnly: true, required: true},
                            create: {readOnly: true, required: true}
                        }
                    },
                }
            },
            view: {
                checkbox: false,
                columnsResizable: true,
                height: 415,
                tableTitle: {
                    enabled: true,
                    caption: 'Лесничества',
                    hint: 'Лесничества, достпуные пользователю',
                    toggle: false
                },
                pager: {
                    enabled: true,
                    rpp: [10, 20, 50]
                },
                sortOrder: [{field: 'name', dir: 'asc'}],
            }
        }
        const gridAppointedForestry = new ABGrid("#gridAppointedForestry", cfgGridAppointedForestry);

    </script>
</div>
</html>