<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::content})}" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="content" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h5>Выделы</h5>
    <div id="gridAppointedForestry"></div>

    <script>

        const cfgGridAppointedForestry = {
            autoLoad: true,
            readOnly:true,
            data: {
                dataKey: 'gridForestry',
                url: '/api/common/appointedForesty'
            },
            schema: {
                fields: {
                    id: {
                        type: 'int',
                        editor: {edit: {visible: false}, create: {visible: false}},
                        ui: {label: 'id', grid: {visible: false}}
                    },
                    parent: {
                        type: 'int',
                        editor: {edit: {visible: false}, create: {visible: false}},
                        ui: {label: 'parent', grid: {visible: false}}
                    },
                    name: {
                        type: 'text', ui: {label: 'Наименование', grid: {visible: true, width: '14%'}},
                        editor: {edit: {readOnly: true}, create: {readOnly: false, required: true}}
                    },
                    accountNumber: {
                        type: 'text', ui: {label: 'Учетный код', grid: {visible: true, width: '16%'}},
                        editor: {
                            type: 'text',
                            edit: {readOnly:true, required: true},
                            create: {readOnly: true, required: true}
                        }
                    },
                }
            },
            view: {
                checkbox: false,
                columnsResizable: true,
                height: 415,
                tableTitle: {
                    enabled: true,
                    caption: 'Лесничества',
                    hint: 'Лесничества, достпуные пользователю',
                    toggle: false
                },
                pager: {
                    enabled: true,
                    rpp: [10,20,50]
                },
                sortOrder: [{field: 'name', dir: 'asc'}],
            }
        }
        const gridAppointedForestry = new ABGrid("#gridAppointedForestry", cfgGridAppointedForestry);

    </script>
</div>
</html>