<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лесное хозяйство</title>

    <!-- ===== UIKIT ===== -->
    <link rel="stylesheet" href="/webjars/uikit/css/uikit.min.css"/>
    <script src="/webjars/uikit/js/uikit.min.js"></script>
    <script src="/webjars/uikit/js/uikit-icons.min.js"></script>

</head>
<body>
<!-- ============================================ -->
<!-- НАВИГАЦИЯ -->
<!-- ============================================ -->
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-margin-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/"><span uk-icon="icon: home"></span> Главная</a></li>
            <li><a href="/patrolling"><span uk-icon="icon: thumbnails"></span>Патрулирование</a></li>
            <li><a href="/cutting_area"><span uk-icon="icon: grid"></span>Деляны</a></li>
            <li><a href="/forest-fires"><span uk-icon="icon: thumbnails"></span>Пожары</a></li>
            <li><a href="/illegal-logging"><span uk-icon="icon: thumbnails"></span>Незаконная рубка</a></li>
            <li><a href="/patrol-schedule"><span uk-icon="icon: thumbnails"></span>Графики патрулирования</a></li>
            <li><a href="/forest-quarters"><span uk-icon="icon: thumbnails"></span>Кварталы</a></li>
            <li><a href="/forest-stand"><span uk-icon="icon: thumbnails"></span>Выделы</a></li>
            <li><a href="/patrol-routes"><span uk-icon="icon: thumbnails"></span>Маршруты патрулирования</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right uk-margin-right">
        <span class="uk-navbar-item uk-text-meta">🌲 Лесное хозяйство v1.0</span>
    </div>
</nav>

<div class="uk-container uk-container-large uk-margin-top">
    <div class="uk-grid">
        <div><a href="/patrolling">
            <div class="uk-card uk-card-default uk-card-body uk-margin" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Патрулирование
            </div>
        </a></div>
        <div><a href="/cutting_area">
            <div class="uk-card uk-card-default uk-card-body uk-margin" style="background: #f8f9fa;"><span
                    uk-icon="icon: grid"></span>Деляны
            </div>
        </a></div>
        <div><a href="/forest-fires">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Пожары
            </div>
        </a></div>
        <div><a href="/illegal-logging">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Незаконная рубка
            </div>
        </a></div>
        <div><a href="/patrol-schedule">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Графики патрулирования
            </div>
        </a></div>
        <div><a href="/forest-quarters">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Кварталы
            </div>
        </a></div>
        <div><a href="/ploats">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Выделы
            </div>
        </a></div>
        <div><a href="/patrol-routes">
            <div class="uk-card uk-card-default uk-card-body" style="background: #f8f9fa;"><span
                    uk-icon="icon: thumbnails"></span>Маршруты патрулирования
            </div>
        </a></div>
    </div>

</div>
</body>
</html>