<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лесное хозяйство</title>

    <!-- ===== UIKIT ===== -->
    <link rel="stylesheet" href="/webjars/uikit/css/uikit.min.css" />
    <script src="/webjars/uikit/js/uikit.min.js"></script>
    <script src="/webjars/uikit/js/uikit-icons.min.js"></script>

</head>
<body>
<!-- ============================================ -->
<!-- НАВИГАЦИЯ -->
<!-- ============================================ -->
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/"><span uk-icon="icon: home"></span> Главная</a></li>
            <li><a href="/forest-ploat"><span uk-icon="icon: grid"></span>Деляны</a></li>
            <li><a href="/ploats"><span uk-icon="icon: thumbnails"></span>Выделы</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <span class="uk-navbar-item uk-text-meta">🌲 Лесное хозяйство v1.0</span>
    </div>
</nav>

<div class="uk-container uk-container-large uk-margin-top">
</div>
</body>
</html>